
[placeholder]:empty::before 
  content attr(placeholder)
  color #7bF

td[my-colname=asunto]
  max-width 600px

td[my-colname=solapas]
  max-width 600px

#main_layout [my-colname] .menu-item
  margin-left 2px
  margin-right 2px
  margin-bottom 1px
  padding 3px
  border-radius 2px

#main_layout [my-colname] .menu-item[is-selected]
  background-color: #fff

[my-table^=anotaciones] td[my-colname=detalle]
  white-space pre-wrap
  max-width 600px

td[class^="ts-"]
  width 95%
  text-align center

.anot-img  
  text-align center
  max-width 95%